.main {
    display: flex;
    max-height: 100%;
    max-width: auto;
    flex-direction: column;
}

.name {
    display: flex;
    background-color: #4d5357;
    width: 97vw;
    max-height: 11vw;
    justify-content: center;
    padding: 2vh;
}

.contact {
    background-color: #17687f;
    height: auto ;
    width: 30vw;
}

.nameTitle {
    flex-direction: column;
    margin-left: 3vw;
    align-self: center;
}

.photo {
    display: flex;
}

#profilePhoto {
    width: auto;
    max-height: 10vw;
    border-radius: 50%;
    border-color: white;
    border: .15rem solid #33a0ce;
    padding: .3rem;
    align-self: center;
}

#name {
    font-family: "Montserrat";
    font-weight: bold;
    color: white;
    letter-spacing: 5px;
    font-size: 1.75rem;
}

#title {
    margin-top: 2vh;
    font-family: "Century Gothic";
    color: white;
    font-size: .875rem;
    letter-spacing: 1px;
}

.contact {
    display: flex;
    flex-direction: column;
    padding-left: 3vw;
    padding-top: 3vh;
}

.line {
    width: 10vw;
    height: 0;
    border: 1px solid white;
    margin-top: 1vh;
    display:inline-block;
  }

.head {
    font-family: "Montserrat";
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.125rem;
}

.info {
    font-family: "Montserrat";
    color: white;
    font-size: .875rem;
    letter-spacing: .125rem;
    margin-top: 2vh;
    padding-right: 5vw;
}

.content {
    display: flex;
    margin-top: 2vh;
    margin-left: 2vw;
    flex-direction: column;
    padding-right: 5vw;
}

.titulo {
    display: flex;
    align-items: center;
    background-color: #eaeaea ;
    height: 3.5vw;
    width: 20vw;
}

#myself {
    font-family: "Montserrat";
    color: #4d5256;
    font-weight: 500;
    margin-left: 1vw;
    font-size: 1.125rem;
}

.design {
    background-color: #07677f;
    height: 100%;
    width: 1vw;
}

.lowerPart {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.contentOfContent {
    font-family: "Montserrat";
    color: #4d5256;
    margin-left: 2vw;
    font-size: .875rem;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.25rem;
}

#interpreter {
    max-width: 20vw;
    width: auto;
    height: auto;
}

.projects {
    display: flex;
    justify-content: space-around;
}

.projectItem {
    display: flex;
    flex-direction: column;
}

.projectTitle {
    font-family: "Montserrat";
    color: #4d5256;
    font-size: .875rem;
    text-align: center;
    text-justify: inter-word;
    line-height: 1.25rem;
}